html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: calc(100vh - 60px);
  width: 100%;
  background-color: #ffffff;
  background-image: url(asset/background.png);
  /* background-image: url(asset/annie.png), url(asset/background.png); */
  /* background-size: 100vh; */
  background-repeat: no-repeat;
  /* background-position: 130px 20px, center; */
  background-position: center;
  margin-top: 10px;
}

.profile-img {
  height: 670px;
  width: 45%;
  margin: 0px 60px 0px 100px;
}

p {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
